<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% for (item of items) { %>
      <div class="item">
        <p><%=  item.text  %></p>
      </div>
      <% } %>

    <form action="/" method="post">
      <input type="text" name="item">
      <button type="submit">Valider</button>
    </form>
  </body>
</html>
